/*Reset du user agent*/
*{
    text-decoration:none;
    box-sizing:border-box; /*Pour que le contenu ne depasse pas le contenant*/
    list-style: none;
} 


header{
    position:fixed;
    width:100%;
    background:linear-gradient(#C4D9EE, #ffffff);
    opacity:1;
}


.prez{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1rem;
}

